$include /etc/skel/.inputrc

# tab
TAB: menu-complete

set show-all-if-ambiguous on
set completion-ignore-case on
set menu-complete-display-prefix on

"\e[5~": history-search-backward  # Page up
"\e[6~": history-search-forward   # Page down
